:root {
  --black: #0d0d0d;
  --red: #ff2d2b;
}
body {
  background-color: blue;
}
.scoreboard {
  width: 0 auto;
  background-color: #393f4d;
  color: white;
  border-radius: 0.5rem;
  padding: 5rem;
  border: 4px solid #aaaaaa;
}

.topRow {
  display: flex;
  justify-content: space-around;
  place-items: center;
}

.home,
.away {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  place-items: center;
  border: 3px solid white;
  border-radius: 0.5rem;
  width: 15rem;
}

.home {
  background-color: #7dce94;
}

.away {
  background-color: #feda6a;
}



.home__score,
.away__score {
  font-family: "Ozone";
  font-size: 7rem;
  width: 90%;
  text-align: center;
  background-color: var(--black);
  color: var(--red);
  padding: 5%;
}


.buttons {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.counter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 25px;

}
.homeButtons {
  display: flex;
  justify-content: center;
 }

.btn {
  display: flex;
  margin: 16px;
  font-size: 2rem;
  border-radius: 27px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
